<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Noto+Serif+TC:wght@500&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Noto+Serif+TC:wght@400;500&display=swap');
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <div class="website">
        <h1 class="webtitle5">{{ title }}</h1>
        <form action="{{ url_for('submission_success') }}" method="post">
            <button class="button-56" role="button" type="submit" name="select_option" value="option1">點我回首頁</button>
        </form>
        
    </div>
</body>
</html>
